/* CSS Syntax

selector {
  property: values;
  property: values;
}

*/

/* Type selector */

p {
  font-size: 1em;
  line-height: 1.5em;
}

figcaption {
  font-weight: normal;
  font-size: 0.7em;
  line-height: 1.5em;
  font-family: Georgia, "New Times New Roman";

}